DATA_DEFS_ADDR rcasm 'resources/app_resources.asm'
LOGO_ADDR rcdata 'resources/sfx_logo.scr'
KEYBOARD_ADDR rcdata 'resources/keyboard.obj'
DLIST_ADDR rcasm 'resources/dlist.asm'
CHARSET_ADDR rcdata 'resources/SFX-Tracker.fnt'
