PFCOLS rcdata 'resources/sfxmm-colors.obj'
CHARSET_ADDR rcdata 'resources/sfxmm-loader.fnt'
CHBAS rcdata 'resources/sfxmm-chars.obj'
DLIST_ADDR rcdata 'resources/sfxmm-dlist.obj'
SCREEN_ADDR rcdata 'resources/sfxmm-loader.obj'
